In [1]:
import pandas as pd

from keys import conn_str
from sqlalchemy import create_engine, exc

In [2]:
df = pd.read_sql_table('inventory_raw', conn_str)
df.tail()

,index,Data.Inventory,Data.Code,Data.Variant,Data.Product,Data.Category,TotalCount
426,0,0.0,None,Mosaic Picture Frame Colorsday,Mosaic Picture Frame Colorsday,Toys,431
427,0,10.0,None,Set Music Happy Once,Set Music Happy Once,Toys,431
428,0,0.0,None,Speed Racing Road Leader,Speed Racing Road Leader,Toys,431
429,0,0.0,None,Stunt Car Sup[er Max,Stunt Car Sup[er Max,Toys,431
430,0,-2.0,None,Surmount Car toy,Surmount Car toy,Toys,431

In [3]:
df.drop(columns=['index', 'Data.Code', 'Data.Product', 'TotalCount'], axis=1, inplace=True)
df

     Data.Inventory                    Data.Variant Data.Category
0              -1.0           32 inch Synix Digital   Accessories
1               0.0                      abs roller   Accessories
2              -1.0                      Air Fornce   Accessories
3               0.0                      Airmax 500   Accessories
4              -1.0            AMAYA truael Charger   Accessories
..              ...                             ...           ...
426             0.0  Mosaic Picture Frame Colorsday          Toys
427            10.0            Set Music Happy Once          Toys
428             0.0        Speed Racing Road Leader          Toys
429             0.0            Stunt Car Sup[er Max          Toys
430            -2.0                Surmount Car toy          Toys

[431 rows x 3 columns]

In [4]:
df.sort_values(by=['Data.Inventory'], inplace=True)
df

     Data.Inventory              Data.Variant Data.Category
91          -1262.0                     Fagia   Accessories
223          -808.0                     socks   Accessories
295          -655.0  Chiffon Tops Long Sleeve       Clothes
229          -577.0                 Stockings   Accessories
325          -481.0                  Newborns       Clothes
..              ...                       ...           ...
18             10.0     Baby Walker-FMK(Blue)   Accessories
427            10.0      Set Music Happy Once          Toys
289            17.0               Fanny Packs          Bags
324            49.0               Mixed dress       Clothes
203           100.0                Samsung Tv   Accessories

[431 rows x 3 columns]

In [5]:
engine = create_engine(conn_str, echo=True)

try:
    df.to_sql('inventory_clean', con=engine, if_exists='replace', index=False)
except exc.IntegrityError:
    pass
e = engine.execute("SELECT * FROM inventory_clean").fetchall()
print(e)

2021-01-30 10:03:43,387 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-30 10:03:43,388 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 10:03:43,389 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-30 10:03:43,390 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 10:03:43,391 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("inventory_clean")
2021-01-30 10:03:43,392 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 10:03:43,393 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("inventory_clean")
2021-01-30 10:03:43,394 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 10:03:43,396 INFO sqlalchemy.engine.base.Engine
CREATE TABLE inventory_clean (
	"Data.Inventory" FLOAT,
	"Data.Variant" TEXT,
	"Data.Category" TEXT
)


2021-01-30 10:03:43,397 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 10:03:43,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-30 10:03:43,403 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-30 10:03:43,406 INFO sqlalchemy.engine.base.Engine INSERT INTO inventory_clean ("Data.Inventory", "Data.Variant", "Data.Category") VALUES (?, ?, ?)
2021-01-30 10:03:43,407 INFO sqlalchemy.engine.base.Engine ((-1262.0, 'Fagia', 'Accessories'), (-808.0, 'socks', 'Accessories'), (-655.0, 'Chiffon Tops Long Sleeve', 'Clothes'), (-577.0, 'Stockings', 'Accessories'), (-481.0, 'Newborns', 'Clothes'), (-427.0, 'pallazo pants', 'Accessories'), (-413.0, 'Medium Children clothes', 'Accessories'), (-412.0, 'Drawers', 'Accessories')  ... displaying 10 of 431 total bound parameter sets ...  (49.0, 'Mixed dress', 'Clothes'), (100.0, 'Samsung Tv', 'Accessories'))
2021-01-30 10:03:43,411 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-30 10:03:43,414 INFO sqlalchemy.engine.base.Engine SELECT * FROM inventory_clean
2021-01-30 10:03:43,415 INFO sqlalchemy.engine.base.Engine ()