### Jambo Exploratory Analysis

* Just looking for patterns here.
* Data sourced from current POS system from opening date of the shop. Will try to update it regularly

An overview of the raw data

In [1]:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

from keys import conn_str
from sqlalchemy import create_engine, exc

df = pd.read_sql_table('raw_sales', conn_str)
df.tail()

,index,Outlet,Number,Date,DueDate,SalesType,SalesPerson,Customer,CreatorID,Created,...,Variants.Cost,Variants.UnitQuantity,Variants.Quantity,Variants.Code,Variants.Name,Payments.Note,Payments.Code,Payments.Method,Payments.Amount,Payments.Date
13488,2750,Kayole Branch,21.01.513,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-25T22:22:41.243,...,104.0,1.0,1.0,None,Velvet 4,None,None,Cash,130.0,2021-01-25T00:00:00
13489,2750,Kayole Branch,21.01.513,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-25T22:22:41.243,...,17.0,1.0,1.0,None,Cotton Tops,None,None,Cash,130.0,2021-01-25T00:00:00
13490,2751,Kayole Branch,21.01.514,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-25T22:33:50.673,...,150.0,1.0,1.0,None,pallazo pants 5,None,None,Cash,100.0,2021-01-25T00:00:00
13491,2752,Kayole Branch,21.01.515,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-26T00:04:36.673,...,150.0,1.0,1.0,None,pallazo pants 5,None,None,Cash,190.0,2021-01-25T00:00:00
13492,2752,Kayole Branch,21.01.515,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-26T00:04:36.673,...,104.0,1.0,1.0,None,Velvet 4,None,None,Cash,190.0,2021-01-25T00:00:00

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13493 entries, 0 to 13492
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    13493 non-null  int64
 1   Outlet                   13493 non-null  object
 2   Number                   13493 non-null  object
 3   Date                     13493 non-null  object
 4   DueDate                  13493 non-null  object
 5   SalesType                13493 non-null  object
 6   SalesPerson              0 non-null      object
 7   Customer                 0 non-null      float64
 8   CreatorID                13493 non-null  object
 9   Created                  13493 non-null  object
 10  Discount1                13493 non-null  float64
 11  Discount2                13493 non-null  float64
 12  DiscountAmount           13493 non-null  float64
 13  Gross                    13493 non-null  float64
 14  DiscountTotal            13493 non-null  float64
 15  TaxType                  13493 non-null  object
 16  Tax                      13493 non-null  float64
 17  Surcharge                13493 non-null  float64
 18  Sales                    13493 non-null  float64
 19  SalesNTax                13493 non-null  float64
 20  Coupon                   0 non-null      object
 21  Note                     23 non-null     object
 22  InvoiceID                13493 non-null  object
 23  PointUsed                13493 non-null  float64
 24  PointsEarned             13493 non-null  float64
 25  Delivery                 13493 non-null  object
 26  Void                     13493 non-null  object
 27  Customer.Name            85 non-null     object
 28  Customer.Email           0 non-null      float64
 29  Customer.Mobile          74 non-null     object
 30  Customer.Code            63 non-null     object
 31  Variants.Note            3 non-null      object
 32  Variants.PriceTypeID     13493 non-null  int64
 33  Variants.NettPrice       13493 non-null  float64
 34  Variants.Expense         13493 non-null  float64
 35  Variants.LoyaltyPoint    13493 non-null  bool
 36  Variants.Taxable         13493 non-null  bool
 37  Variants.DiscountAmount  13493 non-null  float64
 38  Variants.Discount        13493 non-null  float64
 39  Variants.PriceOriginal   13493 non-null  float64
 40  Variants.Price           13493 non-null  float64
 41  Variants.Cost            13493 non-null  float64
 42  Variants.UnitQuantity    13493 non-null  float64
 43  Variants.Quantity        13493 non-null  float64
 44  Variants.Code            332 non-null    object
 45  Variants.Name            13493 non-null  object
 46  Payments.Note            543 non-null    object
 47  Payments.Code            53 non-null     object
 48  Payments.Method          13493 non-null  object
 49  Payments.Amount          13493 non-null  float64
 50  Payments.Date            13493 non-null  object
dtypes: bool(2), float64(23), int64(2), object(24)
memory usage: 5.1+ MB

In [3]:
df.nunique()

index                      2759
Outlet                        1
Number                     9267
Date                        306
DueDate                       1
SalesType                     1
SalesPerson                   0
Customer                      0
CreatorID                     1
Created                    9264
Discount1                     3
Discount2                     3
DiscountAmount               21
Gross                       394
DiscountTotal                73
TaxType                       1
Tax                           1
Surcharge                     1
Sales                       420
SalesNTax                   420
Coupon                        0
Note                         14
InvoiceID                  9267
PointUsed                     1
PointsEarned                 32
Delivery                      2
Void                          1
Customer.Name                51
Customer.Email                0
Customer.Mobile              47
Customer.Code                37
Variants.Note                 3
Variants.PriceTypeID          1
Variants.NettPrice          249
Variants.Expense              1
Variants.LoyaltyPoint         1
Variants.Taxable              1
Variants.DiscountAmount       7
Variants.Discount             5
Variants.PriceOriginal       85
Variants.Price              115
Variants.Cost               157
Variants.UnitQuantity         1
Variants.Quantity            31
Variants.Code                 8
Variants.Name               260
Payments.Note               299
Payments.Code                30
Payments.Method               2
Payments.Amount             420
Payments.Date               307
dtype: int64

Converting the 'Created' column to datetime and sorting the entries from oldest to newest.
Will be useful in the future

In [4]:
df['Created'] = pd.to_datetime(df['Created'])
df = df.set_index('Created')

df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['dayOfWeek'] = df.index.weekday
df['weekOfMonth'] = df.index.week
df['hour'] = df.index.hour
df['minute'] = df.index.minute
df.head()

<ipython-input-4-8f5b712e4282>:8: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df['weekOfMonth'] = df.index.week

,index,Outlet,Number,Date,DueDate,SalesType,SalesPerson,Customer,CreatorID,Discount1,...,Payments.Method,Payments.Amount,Payments.Date,year,month,day,dayOfWeek,weekOfMonth,hour,minute
Created,,,,,,,,,,,,,,,,,,,,,
2020-02-07 22:51:30.473,0,Kayole Branch,20.02.002,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,0.0,...,Cash,200.0,2020-02-07T00:00:00,2020,2,7,4,6,22,51
2020-02-07 22:52:50.140,1,Kayole Branch,20.02.003,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,0.0,...,Cash,400.0,2020-02-07T00:00:00,2020,2,7,4,6,22,52
2020-02-07 22:53:26.450,2,Kayole Branch,20.02.004,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,0.0,...,Cash,100.0,2020-02-07T00:00:00,2020,2,7,4,6,22,53
2020-02-07 23:05:02.100,3,Kayole Branch,20.02.005,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,0.0,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5
2020-02-07 23:05:02.100,3,Kayole Branch,20.02.005,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,0.0,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5

In [5]:
df = df.reset_index()
df

,Created,index,Outlet,Number,Date,DueDate,SalesType,SalesPerson,Customer,CreatorID,...,Payments.Method,Payments.Amount,Payments.Date,year,month,day,dayOfWeek,weekOfMonth,hour,minute
0,2020-02-07 22:51:30.473,0,Kayole Branch,20.02.002,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,200.0,2020-02-07T00:00:00,2020,2,7,4,6,22,51
1,2020-02-07 22:52:50.140,1,Kayole Branch,20.02.003,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,400.0,2020-02-07T00:00:00,2020,2,7,4,6,22,52
2,2020-02-07 22:53:26.450,2,Kayole Branch,20.02.004,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,100.0,2020-02-07T00:00:00,2020,2,7,4,6,22,53
3,2020-02-07 23:05:02.100,3,Kayole Branch,20.02.005,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5
4,2020-02-07 23:05:02.100,3,Kayole Branch,20.02.005,2020-02-07T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13488,2021-01-25 22:22:41.243,2750,Kayole Branch,21.01.513,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,130.0,2021-01-25T00:00:00,2021,1,25,0,4,22,22
13489,2021-01-25 22:22:41.243,2750,Kayole Branch,21.01.513,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,130.0,2021-01-25T00:00:00,2021,1,25,0,4,22,22
13490,2021-01-25 22:33:50.673,2751,Kayole Branch,21.01.514,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,100.0,2021-01-25T00:00:00,2021,1,25,0,4,22,33
13491,2021-01-26 00:04:36.673,2752,Kayole Branch,21.01.515,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,190.0,2021-01-25T00:00:00,2021,1,26,1,4,0,4
13492,2021-01-26 00:04:36.673,2752,Kayole Branch,21.01.515,2021-01-25T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,...,Cash,190.0,2021-01-25T00:00:00,2021,1,26,1,4,0,4

Checking for the unique values per column. This will determine which columns to drop as we clean up the data

In [6]:
df.nunique()

Created                    9264
index                      2759
Outlet                        1
Number                     9267
Date                        306
DueDate                       1
SalesType                     1
SalesPerson                   0
Customer                      0
CreatorID                     1
Discount1                     3
Discount2                     3
DiscountAmount               21
Gross                       394
DiscountTotal                73
TaxType                       1
Tax                           1
Surcharge                     1
Sales                       420
SalesNTax                   420
Coupon                        0
Note                         14
InvoiceID                  9267
PointUsed                     1
PointsEarned                 32
Delivery                      2
Void                          1
Customer.Name                51
Customer.Email                0
Customer.Mobile              47
Customer.Code                37
Variants.Note                 3
Variants.PriceTypeID          1
Variants.NettPrice          249
Variants.Expense              1
Variants.LoyaltyPoint         1
Variants.Taxable              1
Variants.DiscountAmount       7
Variants.Discount             5
Variants.PriceOriginal       85
Variants.Price              115
Variants.Cost               157
Variants.UnitQuantity         1
Variants.Quantity            31
Variants.Code                 8
Variants.Name               260
Payments.Note               299
Payments.Code                30
Payments.Method               2
Payments.Amount             420
Payments.Date               307
year                          2
month                        12
day                          31
dayOfWeek                     7
weekOfMonth                  51
hour                         13
minute                       60
dtype: int64

Dropping the columns with only one unique value in them. These won't help us in the analysis as they are consistent

In [7]:
df = df.drop(['Outlet', 'DueDate', 'SalesType', 'SalesPerson', 'CreatorID', 'Discount1', 'Discount2',
              'DiscountAmount', 'DiscountTotal', 'TaxType', 'Tax', 'Surcharge', 'Sales', 'Coupon', 'Note',
              'Delivery', 'Void', 'SalesNTax', 'PointUsed', 'Outlet', 'Customer.Name', 'Customer.Mobile',
              'Customer.Code', 'Variants.Note', 'Variants.PriceTypeID', 'Variants.Expense', 'Variants.LoyaltyPoint',
              'Variants.Taxable', 'Variants.UnitQuantity', 'Customer', 'Customer.Email'], axis=1)

Checking for columns with Nan Values and dropping them

In [8]:
df.isna()

,Created,index,Number,Date,Gross,InvoiceID,PointsEarned,Variants.NettPrice,Variants.DiscountAmount,Variants.Discount,...,Payments.Method,Payments.Amount,Payments.Date,year,month,day,dayOfWeek,weekOfMonth,hour,minute
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13488,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13489,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13490,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13491,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13492,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
df.dropna(inplace=True, axis=1, how='all')
df.head()

,Created,index,Number,Date,Gross,InvoiceID,PointsEarned,Variants.NettPrice,Variants.DiscountAmount,Variants.Discount,...,Payments.Method,Payments.Amount,Payments.Date,year,month,day,dayOfWeek,weekOfMonth,hour,minute
0,2020-02-07 22:51:30.473,0,20.02.002,2020-02-07T00:00:00,200.0,a4f938d7-a234-49f9-9588-ea6dc1b547b2,0.0,200.0,0.0,0.0,...,Cash,200.0,2020-02-07T00:00:00,2020,2,7,4,6,22,51
1,2020-02-07 22:52:50.140,1,20.02.003,2020-02-07T00:00:00,400.0,89681b1f-21ab-4f0a-8780-3971de3f82b0,0.0,400.0,0.0,0.0,...,Cash,400.0,2020-02-07T00:00:00,2020,2,7,4,6,22,52
2,2020-02-07 22:53:26.450,2,20.02.004,2020-02-07T00:00:00,100.0,af594745-e964-4051-ae17-93b23b746743,0.0,100.0,0.0,0.0,...,Cash,100.0,2020-02-07T00:00:00,2020,2,7,4,6,22,53
3,2020-02-07 23:05:02.100,3,20.02.005,2020-02-07T00:00:00,380.0,a76090aa-9470-4ef5-8e38-59568d23bdae,0.0,80.0,0.0,0.0,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5
4,2020-02-07 23:05:02.100,3,20.02.005,2020-02-07T00:00:00,380.0,a76090aa-9470-4ef5-8e38-59568d23bdae,0.0,300.0,0.0,0.0,...,Cash,380.0,2020-02-07T00:00:00,2020,2,7,4,6,23,5

In [10]:
df.nunique()

Created                    9264
index                      2759
Number                     9267
Date                        306
Gross                       394
InvoiceID                  9267
PointsEarned                 32
Variants.NettPrice          249
Variants.DiscountAmount       7
Variants.Discount             5
Variants.PriceOriginal       85
Variants.Price              115
Variants.Cost               157
Variants.Quantity            31
Variants.Code                 8
Variants.Name               260
Payments.Note               299
Payments.Code                30
Payments.Method               2
Payments.Amount             420
Payments.Date               307
year                          2
month                        12
day                          31
dayOfWeek                     7
weekOfMonth                  51
hour                         13
minute                       60
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13493 entries, 0 to 13492
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Created                  13493 non-null  datetime64[ns]
 1   index                    13493 non-null  int64
 2   Number                   13493 non-null  object
 3   Date                     13493 non-null  object
 4   Gross                    13493 non-null  float64
 5   InvoiceID                13493 non-null  object
 6   PointsEarned             13493 non-null  float64
 7   Variants.NettPrice       13493 non-null  float64
 8   Variants.DiscountAmount  13493 non-null  float64
 9   Variants.Discount        13493 non-null  float64
 10  Variants.PriceOriginal   13493 non-null  float64
 11  Variants.Price           13493 non-null  float64
 12  Variants.Cost            13493 non-null  float64
 13  Variants.Quantity        13493 non-null  float64
 14  Variants.Code            332 non-null    object
 15  Variants.Name            13493 non-null  object
 16  Payments.Note            543 non-null    object
 17  Payments.Code            53 non-null     object
 18  Payments.Method          13493 non-null  object
 19  Payments.Amount          13493 non-null  float64
 20  Payments.Date            13493 non-null  object
 21  year                     13493 non-null  int64
 22  month                    13493 non-null  int64
 23  day                      13493 non-null  int64
 24  dayOfWeek                13493 non-null  int64
 25  weekOfMonth              13493 non-null  int64
 26  hour                     13493 non-null  int64
 27  minute                   13493 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(8), object(9)
memory usage: 2.9+ MB

In [12]:
# Units sold

df_units = df.groupby(by="Variants.Name")['Variants.Quantity'].sum().reset_index()
df_units.sort_values(by="Variants.Quantity", ascending=False, inplace=True)
df_units

                Variants.Name  Variants.Quantity
99                      Fagia             1258.0
257                     socks              804.0
40   Chiffon Tops Long Sleeve              655.0
206                 Stockings              570.0
172                  Newborns              481.0
..                        ...                ...
135                LED HD  tv                1.0
133             Kids Bike FMK                1.0
213    Synix Smart TV 43 inch                1.0
214         Toddler Shoes 650                1.0
0       32 inch Synix Digital                1.0

[260 rows x 2 columns]

In [13]:
pr_var = df['Variants.Name'].value_counts()
pr_var[pr_var > 1]

Fagia                       508
Chiffon Tops Long Sleeve    404
socks                       353
Stockings                   319
pallazo pants               270
                           ...
Baby Shawl Light              2
Naomi shoes                   2
Kids School Shoes 650         2
Geepas 3 in 1 blender         2
Blazers DKJ 230 7             2
Name: Variants.Name, Length: 216, dtype: int64

In [23]:
# more units sold analysis
pr_unit = df['Variants.Quantity'].value_counts()
pr_unit

 1.0     9620
 2.0     2295
 3.0      756
 4.0      323
 5.0      161
 6.0      110
 7.0       49
 8.0       36
 9.0       22
 10.0      21
 12.0      15
 11.0      12
-1.0       12
 15.0      11
 14.0       9
 16.0       7
 13.0       6
-2.0        5
 17.0       5
 19.0       3
-3.0        2
 40.0       2
 18.0       2
 55.0       2
-4.0        1
 28.0       1
 46.0       1
 42.0       1
 25.0       1
 32.0       1
 37.0       1
Name: Variants.Quantity, dtype: int64

In [14]:
# Creating product tags from the variant names

df['Tag1'] = (np.where(df['Variants.Name'].str.contains(' '),
                  df['Variants.Name'].str.split(' ').str[0],
                  df['Variants.Name']))

df['Tag2'] = (np.where(df['Variants.Name'].str.contains(' '),
                  df['Variants.Name'].str.split(' ').str[1],
                  df['Variants.Name']))

df['Tag3'] = (np.where(df['Variants.Name'].str.contains(' '),
                  df['Variants.Name'].str.split(' ').str[2],
                  df['Variants.Name']))

df['Tag4'] = (np.where(df['Variants.Name'].str.contains(' '),
                  df['Variants.Name'].str.split(' ').str[3],
                  df['Variants.Name']))

# df['Tag1']= df['Variants.Name'].apply(lambda x: x.split(' ')[0] if x.find(' ')!=-1 else x )
# df['Tag2']= df['Variants.Name'].apply(lambda x: x.split(' ')[1] if x.find(' ')!=-1 else x )

In [32]:
df['Tag1'] = df['Tag1'].replace('Lady', 'Ladies')
df['Tag1'] = df['Tag1'].replace('Women', 'Ladies')
df['Tag1'] = df['Tag1'].replace('WOMEN', 'Ladies')
df['Tag1'] = df['Tag1'].replace('MEN', 'Men')
df['Tag1'] = df['Tag1'].replace('men', 'Men')

df['Tag2'] = df['Tag2'].replace('Lady', 'Ladies')
df['Tag2'] = df['Tag2'].replace('Women', 'Ladies')
df['Tag2'] = df['Tag2'].replace('WOMEN', 'Ladies')
df['Tag2'] = df['Tag2'].replace('MEN', 'Men')
df['Tag2'] = df['Tag2'].replace('men', 'Men')

df['Tag3'] = df['Tag3'].replace('Lady', 'Ladies')
df['Tag3'] = df['Tag3'].replace('Women', 'Ladies')
df['Tag3'] = df['Tag3'].replace('WOMEN', 'Ladies')
df['Tag3'] = df['Tag3'].replace('MEN', 'Men')
df['Tag3'] = df['Tag3'].replace('men', 'Men')

df['Tag3'] = df['Tag3'].replace('Lady', 'Ladies')
df['Tag3'] = df['Tag3'].replace('Women', 'Ladies')
df['Tag3'] = df['Tag3'].replace('WOMEN', 'Ladies')
df['Tag3'] = df['Tag3'].replace('MEN', 'Men')
df['Tag3'] = df['Tag3'].replace('men', 'Men')

df['Tag1']= df.Tag1.str.capitalize()
df['Tag2']= df.Tag2.str.capitalize()
df['Tag3']= df.Tag3.str.capitalize()
df['Tag3']= df.Tag4.str.capitalize()

tags1_list = df.Tag1.value_counts().reset_index()
tags2_list = df.Tag2.value_counts().reset_index()
tags3_list = df.Tag3.value_counts().reset_index()
tags4_list = df.Tag4.value_counts().reset_index()

df['product']= pd.concat(df.Tag1, df.Tag2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

## Best month for sales?

In [ ]:
df_revenue = df.groupby(['month', 'year'])['Gross'].sum().reset_index()

plt.figure(figsize=(15,10))
sns.barplot(x="month", y="Gross", hue="year", data=df_revenue)
plt.title('Monthly Revenue')
plt.xlabel("Month")
plt.ylabel("Revenue")

## Best time of the day for sales

In [ ]:
df['Count'] = 1
df.head()

In [ ]:
df.groupby(['hour']).count()['Count']

In [ ]:
keys = [pair for pair, df in df.groupby(['hour'])]
plt.figure(figsize=(15,8))
plt.plot(keys, df.groupby(['hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.show()

## Best-selling items

In [ ]:
product_group = df.groupby('Variants.Name')
product_group.sum()

In [ ]:
quantity_sold = product_group.sum().sort_values(by='Variants.Quantity', ascending=False)[['Variants.Quantity', 'Variants.NettPrice']]
quantity_sold

In [ ]:
quantity_sold['Avg.Item.Price'] = quantity_sold['Variants.NettPrice'] / quantity_sold['Variants.Quantity']
quantity_sold['Avg.Item.Price'] = quantity_sold['Avg.Item.Price'].round()
quantity_sold

In [ ]:
products = [product for product, df in product_group]
top_products = quantity_sold.index[:20]
top_quantity = quantity_sold.iloc[:20]['Variants.Quantity']
plt.bar(top_products, top_quantity)
plt.xticks(top_products, rotation='vertical', size=8)
plt.show

In [ ]:
prices = df.groupby('Variants.Name').mean()['Variants.NettPrice'].iloc[0:20]
prices

This is a list of the top 20 most sold items at the store

In [ ]:
fig, ax1 = plt.subplots()
ax2 = ax1.twinx()
ax1.bar(top_products, top_quantity)
ax2.plot(top_products, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered', color='g')
ax2.set_ylabel('Price in KES', color='b')
ax1.set_xticklabels(top_products, rotation='vertical', size=8)

fig.show()

## What items are sold together?

In [ ]:
df_dup = df[df['Number'].duplicated(keep=False)]
df_dup.head()

In [ ]:
df_dup['Items.Grouped'] = df_dup.groupby('Number')['Variants.Name'].transform(lambda x: ', '.join(x))
df_dup.head()

In [ ]:
df_dup = df_dup[['Number', 'Items.Grouped']].drop_duplicates()
df_dup.head()

In [ ]:
from itertools import combinations
from collections import Counter

count = Counter()

for row in df_dup['Items.Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

grp_count = count.most_common(10)

This is a list of the most popular combination of items sold at the store

In [ ]:
df_grp = pd.DataFrame(grp_count)
df_grp.columns = ['combination', 'count']
df_grp

## Monthly items sold overview

In [ ]:
df_quantity = df.groupby(['month', 'year'])['Variants.Quantity'].sum().reset_index()

plt.figure(figsize=(15,10))
sns.barplot(x="month", y="Variants.Quantity", hue="year", data=df_quantity)
plt.title('Monthly Items Sold')
plt.xlabel("Month")
plt.ylabel("Quantity")

## Average Monthly Revenue

In [ ]:
df_revenue_avg = df.groupby(['month', 'year'])['Gross'].mean().reset_index()

plt.figure(figsize=(15,10))
sns.barplot(x="month", y="Gross", hue="year", data=df_revenue_avg)
plt.title('Monthly Average Revenue')
plt.xlabel("Month")
plt.ylabel("Revenue")

## Frequently sold items

This is a calculation of the frequency of purchased items at the store.

In [ ]:
df_last_purchased = df.groupby(['Variants.Name'])['Created'].max().reset_index()
df_last_purchased.columns = ["Product", "LastPurchaseDate"]
df_last_purchased['Recency'] = (df_last_purchased["LastPurchaseDate"].max() - df_last_purchased['LastPurchaseDate']).dt.days
df_last_purchased = df_last_purchased.sort_values(by=["Recency"], ascending=True)
df_last_purchased

In [ ]:
df_hourly = df.resample('H', on='Created').agg({'Gross': 'sum', 'Variants.Quantity': 'sum', 'Variants.Name': 'nunique'})

In [ ]:
hourly_sales = df.groupby([pd.Grouper(key='Created', freq='H'), 'Variants.Name']).agg(
                                                                       total_quantity=('Variants.Quantity', 'sum'),
                                                                       total_amount=('Variants.NettPrice', 'sum'))
hourly_sales

In [ ]:
daily_sales = df.groupby([pd.Grouper(key='Created', freq='d'), 'Variants.Name']).agg(
                                                                       total_quantity=('Variants.Quantity', 'sum'),
                                                                       total_amount=('Variants.NettPrice', 'sum'))
daily_sales

In [ ]:
weekly_sales = df.groupby([pd.Grouper(key='Created', freq='W'), 'Variants.Name']).agg(
                                                                       total_quantity=('Variants.Quantity', 'sum'),
                                                                       total_amount=('Variants.NettPrice', 'sum'))

weekly_sales

In [ ]:
# Frequency of items bought in terms of days
df_daily = df.groupby(['Variants.Name'])['day'].count().reset_index()
df_daily.columns = ["Product", "Frequency"]
df_daily

In [ ]:
df_last_purchased = pd.merge(df_last_purchased, df_daily, how="inner", on=["Product"])
df_last_purchased

In [ ]:
df_last_purchased['LastPurchaseDate'] = pd.to_datetime(df_last_purchased['LastPurchaseDate'])
df_last_purchased = df_last_purchased.set_index('LastPurchaseDate')

df_last_purchased['LastPurYear'] = df_last_purchased.index.year
df_last_purchased['LastPurMonth'] = df_last_purchased.index.month
df_last_purchased['LastPurDay'] = df_last_purchased.index.day
df_last_purchased['weekDayOfLastPur'] = df_last_purchased.index.weekday
df_last_purchased['yearWeekOfLastPur'] = df_last_purchased.index.week
df_last_purchased['LastPurHour'] = df_last_purchased.index.hour
df_last_purchased['LastPurMinute'] = df_last_purchased.index.minute
df_last_purchased.head()

In [ ]:
df_last_purchased = df_last_purchased.reset_index()
df_last_purchased.rename(columns={"Product": "Variants.Name"}, inplace=True)
df_last_purchased

In [ ]:
df = pd.merge(df, df_last_purchased, how="inner", on=["Variants.Name"])
df.sort_values(by=["Number"], inplace=True)
df.head()

In [ ]:
plt.figure(figsize=(15,10))
sns.distplot(df_last_purchased['Recency'])
plt.title("Item Frequency Distribution")
plt.xlabel("Recency in days")
plt.ylabel("Item sale count")

In [ ]:
# finding the interval between item purchases in minutes

df['ItemTimeDiff'] = df.loc[:,'Created'].diff().dt.total_seconds()
df['ItemTimeDiff']

In [ ]:
# finding the time interval between sale of a particular product in minutes. Please note that the interval is in minutes

df['ProductTimeDiff'] = df.groupby(by="Variants.Name")['Created'].diff().dt.total_seconds()
df['ProductTimeDiff']

In [ ]:
'''Calculating profit/loss, margins and deviations from desired margin of 1'''

df['GrossMargin'] = df['Variants.Price'] - df['Variants.Cost']
df['ProfitLoss'] = np.where(df.GrossMargin<0, "Loss", "Profit")
df['MarginPerc'] = df.GrossMargin / df["Variants.Cost"]
df.replace([np.inf, -np.inf], 1, inplace=True)
df['MarginDeviation'] = 1 - df.MarginPerc
df['DeviationType'] = np.where(df.MarginDeviation<0, "Positive", "Negative")
df.head()

In [ ]:
# create SQL table and insert pre-processed data. To be used in a different analysis

engine = create_engine(conn_str, echo=True)

try:
    df.to_sql('eda', con=engine, if_exists='replace', index=False)
except exc.IntegrityError:
    pass
e = engine.execute("SELECT * FROM eda").fetchall()
print(e)