### Jambo Exploratory Analysis

* Just looking for patterns here.
* Data sourced from current POS system from opening date of the shop. Will try to update it regularly

An overview of the raw data

In [14]:
import pandas as pd

from keys import conn_str

df = pd.read_sql_table('raw_sales', conn_str)
df.tail()

,Outlet,Number,Date,DueDate,SalesType,SalesPerson,Customer,CreatorID,Created,Discount1,...,UnitQuantity,Cost,Price,PriceOriginal,Discount,Taxable,LoyaltyPoint,Expense,NettPrice,PriceTypeID
9049,Kayole Branch,21.01.295,2021-01-13T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-14T00:20:20.937,0.0,...,1.0,143.0,190.0,290.0,0.0,True,True,0.0,190.0,0
9050,Kayole Branch,21.01.296,2021-01-14T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-14T14:06:53.653,0.0,...,1.0,150.0,150.0,300.0,0.0,True,True,0.0,150.0,0
9051,Kayole Branch,21.01.297,2021-01-14T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-14T14:39:34.813,0.0,...,1.0,353.0,300.0,600.0,0.0,True,True,0.0,300.0,0
9052,Kayole Branch,21.01.298,2021-01-14T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-14T14:57:17.173,0.0,...,1.0,74.0,250.0,300.0,0.0,True,True,0.0,250.0,0
9053,Kayole Branch,21.01.299,2021-01-14T00:00:00,,Normal,None,NaN,71e6e3df-257e-4a56-90ad-f6214b267aee,2021-01-14T16:30:43.8,0.0,...,1.0,152.0,60.0,250.0,0.0,True,True,0.0,60.0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9054 entries, 0 to 9053
Data columns (total 46 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Outlet           9054 non-null   object
 1   Number           9054 non-null   object
 2   Date             9054 non-null   object
 3   DueDate          9054 non-null   object
 4   SalesType        9054 non-null   object
 5   SalesPerson      0 non-null      object
 6   Customer         0 non-null      float64
 7   CreatorID        9054 non-null   object
 8   Created          9054 non-null   object
 9   Discount1        9054 non-null   float64
 10  Discount2        9054 non-null   float64
 11  DiscountAmount   9054 non-null   float64
 12  Gross            9054 non-null   float64
 13  DiscountTotal    9054 non-null   float64
 14  TaxType          9054 non-null   object
 15  Tax              9054 non-null   float64
 16  Surcharge        9054 non-null   float64
 17  Sales            9054 non-null   float64
 18  SalesNTax        9054 non-null   float64
 19  Coupon           0 non-null      object
 20  Note             1 non-null      object
 21  InvoiceID        9054 non-null   object
 22  PointUsed        9054 non-null   float64
 23  PointsEarned     9054 non-null   float64
 24  Delivery         9054 non-null   object
 25  Void             9054 non-null   object
 26  Customer.Name    51 non-null     object
 27  Customer.Email   0 non-null      float64
 28  Customer.Phone   4 non-null      object
 29  Customer.Mobile  47 non-null     object
 30  Customer.Code    37 non-null     object
 31  Amount           9054 non-null   float64
 32  Method           9054 non-null   object
 33  Code             248 non-null    object
 34  Name             9054 non-null   object
 35  Quantity         9054 non-null   float64
 36  UnitQuantity     9054 non-null   float64
 37  Cost             9054 non-null   float64
 38  Price            9054 non-null   float64
 39  PriceOriginal    9054 non-null   float64
 40  Discount         9054 non-null   float64
 41  Taxable          9054 non-null   bool
 42  LoyaltyPoint     9054 non-null   bool
 43  Expense          9054 non-null   float64
 44  NettPrice        9054 non-null   float64
 45  PriceTypeID      9054 non-null   int64
dtypes: bool(2), float64(22), int64(1), object(21)
memory usage: 3.1+ MB

Converting the 'Created' column to datetime and sorting the entries from oldest to newest.
Will be useful in the future

In [16]:
df['Created'] = pd.to_datetime(df['Created'], errors='coerce')
df['Created'] = df.Created.dt.round('T')
df.sort_values(by=['Created'], inplace=True, ascending=True, ignore_index=True)
df.Created.head()

0   2020-02-07 22:52:00
1   2020-02-07 22:53:00
2   2020-02-07 22:53:00
3   2020-02-07 23:05:00
4   2020-02-07 23:21:00
Name: Created, dtype: datetime64[ns]

Checking for the unique values per column. This will determine which columns to drop as we clean up the data

In [17]:
df.nunique()

Outlet                1
Number             9054
Date                298
DueDate               1
SalesType             1
SalesPerson           0
Customer              0
CreatorID             1
Created            8603
Discount1             3
Discount2             3
DiscountAmount        7
Gross               394
DiscountTotal        71
TaxType               1
Tax                   1
Surcharge             1
Sales               419
SalesNTax           419
Coupon                0
Note                  1
InvoiceID          9054
PointUsed             1
PointsEarned         32
Delivery              2
Void                  1
Customer.Name        51
Customer.Email        0
Customer.Phone        4
Customer.Mobile      47
Customer.Code        37
Amount              419
Method                2
Code                  8
Name                242
Quantity             30
UnitQuantity          1
Cost                153
Price               111
PriceOriginal        81
Discount              5
Taxable               1
LoyaltyPoint          1
Expense               1
NettPrice           213
PriceTypeID           1
dtype: int64

Dropping the columns with only one unique value in them. These won't help us in the analysis as they are consistent

In [18]:
df = df.drop(['DueDate', 'Date', 'SalesType', 'SalesPerson', 'CreatorID', 'Discount1', 'Discount2',
              'DiscountAmount', 'DiscountTotal', 'TaxType', 'Tax', 'Surcharge', 'Sales', 'Coupon', 'Note',
              'Delivery', 'Void', 'UnitQuantity', 'Discount', 'Taxable', 'LoyaltyPoint',
              'Expense', 'PriceTypeID', 'SalesNTax', 'PointUsed'], axis=1)

Checking for columns with Nan Values and dropping them

In [19]:
df.isna()

,Outlet,Number,Customer,Created,Gross,InvoiceID,PointsEarned,Customer.Name,Customer.Email,Customer.Phone,...,Customer.Code,Amount,Method,Code,Name,Quantity,Cost,Price,PriceOriginal,NettPrice
0,False,False,True,False,False,False,False,True,True,True,...,True,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
2,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,False,True,True,True,...,True,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9049,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
9050,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
9051,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
9052,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False
9053,False,False,True,False,False,False,False,True,True,True,...,True,False,False,True,False,False,False,False,False,False

In [20]:
df.dropna(inplace=True, axis=1, how='all')
df.head()

,Outlet,Number,Created,Gross,InvoiceID,PointsEarned,Customer.Name,Customer.Phone,Customer.Mobile,Customer.Code,Amount,Method,Code,Name,Quantity,Cost,Price,PriceOriginal,NettPrice
0,Kayole Branch,20.02.002,2020-02-07 22:52:00,200.0,a4f938d7-a234-49f9-9588-ea6dc1b547b2,0.0,None,None,None,None,200.0,Cash,2001,Ladies Dress 200bob 2001,1.0,0.0,200.0,0.0,200.0
1,Kayole Branch,20.02.003,2020-02-07 22:53:00,400.0,89681b1f-21ab-4f0a-8780-3971de3f82b0,0.0,None,None,None,None,400.0,Cash,None,Men Trousers,2.0,120.0,200.0,0.0,400.0
2,Kayole Branch,20.02.004,2020-02-07 22:53:00,100.0,af594745-e964-4051-ae17-93b23b746743,0.0,None,None,None,None,100.0,Cash,None,Men tshirts,1.0,75.0,100.0,0.0,100.0
3,Kayole Branch,20.02.005,2020-02-07 23:05:00,380.0,a76090aa-9470-4ef5-8e38-59568d23bdae,0.0,None,None,None,None,380.0,Cash,3003,Children Jackets 80bob 3003,1.0,0.0,80.0,0.0,80.0
4,Kayole Branch,20.02.006,2020-02-07 23:21:00,200.0,aeed56ac-83f8-46bf-a557-a1b39ca58b36,0.0,None,None,None,None,200.0,Cash,None,Adult Hoodies Jumper,1.0,148.0,200.0,0.0,200.0